body {
    color: rgb(80, 46, 46);
    background-color: #cca8b5;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    width: 100vw;
}


#header-nav {
    background-color: rgb(245, 204, 109);
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/coffee-logo-2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: .9;
    margin: 20px 20px;
}

.navbar-brand {
    padding-top: 25px;
    padding-left: 30px;
}

.navbar-brand h1 {
    color: #557c3e;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 15px;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
    padding-left: 15px;
}

#nav-list a:hover {
    transition: all ease .25s;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
}

#nav-list a span {
    font-weight: bold;
}

#phone {
    text-align: right;
    margin-bottom: 0;
}

.tel {
    font-size: 1em;
    font-weight: bold;
}

.navbar-header .navbar-toggle, 
.navbar-header .icon-bar {
    border: 1px solid #61122f;;
}

.navbar-header .navbar-toggle {
    clear:both;
}

.glyphicon {
    font-size:30px;
}

.jumbotron{
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 700px;
}


@media (min-width: 1200px) {
  
}

@media (min-width: 992px) and (max-width: 1199px){

#logo-img {
    width: 90px;
    height: 90px;
    margin: 10px 10px;
}

.jumbotron{
    height: 595px;
}
}

@media (min-width: 768px) and (max-width: 991px){

.jumbotron{
    height: 480px;
}
}

@media (max-width: 768px) {
.navbar-brand {
    padding-top: 10px;
    height: 70px;
}

.navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw;
}
.navbar-brand p{
    font-size: .8em;
    margin-top: 12px;
}

#collapsable-nav a {
    font-size: 1.3em;
}

#collapsable-nav a span {
    font-size: 1em;
    margin-right: 10px;
}

.jumbotron{
    height: 400px;
}
}
