body {
    color: rgb(80, 46, 46);
    background-color: rgba(97, 18, 47, .3);
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

header {
    width: 100vw;
}

#header-nav {
    background-color: rgb(226, 243, 163);
    border-radius: 0;
    border-bottom: 1px solid rgb(143, 141, 141);
}

#logo-img {
    background: url('../images/coffee-logo-2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: .9;
    margin: 20px 20px;
}

.navbar-brand {
    padding-top: 25px;
    padding-left: 30px;
}

.navbar-brand h1 {
    color: #557c3e;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 15px;
}

#nav-list {
    margin-top: 10px;
}

ul#nav-list {
    margin-right: 0.1vw;
    margin-top: 2vw;
}

#nav-list a {
    color: #951C49;
    text-align: center;
    padding-left: 15px;
}

#nav-list a:hover {
    /* transition: all ease .25s; */
    padding-bottom: 5px;
    /* color: rgb(255, 255, 255); */
    border-bottom: 2px solid rgb(100, 100, 100);
}

#nav-list a span {
    font-weight: bold;
}

#phone {
    text-align: right;
    margin-bottom: 0;
}

.tel {
    font-size: 1em;
    font-weight: bold;
}

.navbar-header .navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #61122f;
    ;
}

.navbar-header .navbar-toggle {
    clear: both;
}

.glyphicon {
    font-size: 1.2em;
}


.jumbotron {
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    border: 2px solid rgba(97, 18, 47, .5);
}

#menu-tile,
#specials-tile,
#map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #f1abc5;
    overflow: hidden;
    z-index: 0;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
    box-shadow: 0 2px 8px 2px #6e6e6e;
}

#menu-tile {
    background: url('../images/menu_3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#specials-tile {
    background: url('../images/specials_2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#menu-tile span,
#specials-tile span,
#map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
}

.panel-footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0;
}

.panel-footer {
    width: 100%;
    background-color: rgb(226, 243, 163);
}

footer section {
    text-align: center;
}

footer span {
    font-weight: bold;
}

                                        /* MENU CATEGORY */


.category-tile {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(180, 179, 179);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

.category-tile span {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .6);
    color: rgb(255, 255, 255);
}

.category-tile:hover {
    border: 1px;
}

#menu-categories-title {
    margin-bottom: 50px;
    color: #557c3e;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}


@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        width: 90px;
        height: 90px;
        margin: 10px 10px;
    }

    .jumbotron {
        height: 595px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        height: 480px;
    }

    .navbar-brand h1 {
        font-size: 1.8em;
    }

    nav#header-nav {
        height: 130px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 70px;
    }

    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
    }

    .navbar-brand p {
        font-size: .8em;
        margin-top: 12px;
    }

    #collapsable-nav a {
        font-size: 1.3em;
    }

    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 10px;
    }

    .jumbotron {
        height: 350px;
        margin-bottom: 15px;
    }

    #menu-tile,
    #specials-tile,
    #map-tile {
        height: 280px;
        width: 75%;
        margin: 15px auto;
    }
}


@media (max-width: 500px){
    .col-xxs {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }
}